<app-layout-title [title]="'home.title'" [titleClass]="'main-title'" [subTitle]="'home.subtitle'"></app-layout-title>
<div class="row no-gutters">
    <div class="col-lg-3">
        <form *ngIf="filterFormHome" class="sticky-top top-on-navbar" [formGroup]="filterFormHome">
            <div class="d-xs-block d-sm-block d-md-none">
                <select class="form-control mb-2" formControlName="type">
                    <option value="jconon_call:folder">{{'F:jconon_call:folder' | translate}}</option>
                    <ng-container *ngFor="let item of cache.jsonlistCallType">
                        <ng-container *ngIf="item.display && !item.childs">
                            <option value="{{item.queryName}}">{{item.key | translate}}</option>
                        </ng-container>
                        <ng-container *ngIf="item.display && item.childs">
                            <optgroup label="{{item.key | translate}}">
                                <ng-container *ngFor="let child of item.childs">
                                    <option value="{{child.queryName}}">{{child.key | translate}}</option>            
                                </ng-container>    
                            </optgroup>
                        </ng-container>
                    </ng-container>
                </select>
            </div>
            <div>
                <div id="list-call-types" btnRadioGroup formControlName="type" class="list-group ml-1 pb-2 d-none d-md-block">
                    <a class="list-group-item list-group-item-action" 
                        btnRadio="jconon_call:folder">
                        <span>{{'F:jconon_call:folder' | translate}}</span> 
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ng-container *ngFor="let item of cache.jsonlistCallType">
                        <ng-container *ngIf="item.display && !item.childs">
                            <a class="list-group-item list-group-item-action" 
                                btnRadio="{{item.queryName}}">
                                <span>{{item.key | translate}}</span> 
                                <i class="fa fa-angle-right pull-right"></i>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="item.display && item.childs">
                            <a class="list-group-item list-group-item-action">
                                <span class="font-weight-bolder">{{item.key | translate}}</span> 
                                <i class="fa fa-angle-down pull-right text-primary"></i>
                            </a>
                            <ng-container *ngFor="let child of item.childs">
                                <a class="list-group-item list-group-item-action" 
                                    btnRadio="{{child.queryName}}">
                                    <span class="ml-3">{{child.key | translate}}</span> 
                                    <i class="fa fa-angle-right pull-right"></i>
                                </a>            
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="ml-1 pb-1">
                    <!--Rounded checkbox buttons-->
                    <div class="btn-group btn-block btn-group-toggle" btnRadioGroup formControlName="filterType">
                        <label class="btn btn-outline-primary btn-toggle" btnRadio="active">{{'call.attivi' | translate}}</label>
                        <label class="btn btn-outline-primary btn-toggle" btnRadio="expire">{{'call.scaduti' | translate}}</label>
                        <label class="btn btn-outline-primary btn-toggle" btnRadio="all">{{'call.tutti' | translate}}</label>
                    </div>
                </div>
            </div>
        </form>       
    </div>
    <!--Rounded checkbox buttons-->          
    <div class="col-lg-9">
        <call-list *ngIf="filterFormHome" [filterForm]="filterFormHome" [showTotalOnTop]="false"></call-list>
    </div>
</div>
