<div class="sidenav sidebar-wrapper theme-dark fixed-top h-100">
    <div class="sidebar-linklist-wrapper">
        <div class="d-flex border-bottom">
            <a class="btn btn-link p-1" (click)="hide()">
                <svg class="icon icon-white icon-xl">
                  <use xlink:href="/assets/vendor/sprite.svg#it-close"></use>
                </svg>
            </a>
            <h1 class="no_toc text-white">Menu</h1>
        </div>
        <div class="link-list-wrapper" *ngIf="navbarMenu && navbarMenu.menus">
            <ul class="link-list">
                <ng-container *ngFor="let menu of navbarMenu.menus">
                    <li *ngIf="menu.isNavbar()">
                        <a class="list-item medium" *ngIf="menu.active" (click)="hide()" [routerLink]="[menu.path]" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'">
                        <span>{{ menu.name | translate}}</span>
                        </a>
                    </li>    
                </ng-container>
            </ul>
        </div>
    </div>
</div>