<div *ngIf="!isCollapsed" @slideInOut class="sidenav fixed-top h-100 p-0 col-10 col-sm-8 col-lg-4 col-xl-3">
    <nav class="bg-white bg-faded h-100 overflow-auto">
        <ul class="list-group-flush p-0">
            <li class="list-group-item">
                <div class="d-flex">
                    <div>
                        <div class="avatar avatar-primary size-lg">
                            <p aria-hidden="true" class="text-monospace">{{user.firstName|firstLetter}}{{user.lastName|firstLetter}}</p>
                            <span class="sr-only">{{user.firstName|capitalizeFirst}} {{user.lastName|capitalizeFirst}}</span>
                        </div>
                    </div>
                    <div class="h4">
                        <span class="pl-1">{{user.firstName|capitalizeFirst}}</span>
                        <span class="pl-1">{{user.lastName|capitalizeFirst}}</span>
                    </div>
                    <div class="ml-auto">
                        <a class="btn btn-link p-0" (click)="toggle()">
                            <span class="rounded-icon">
                                <svg class="icon icon-primary">
                                    <use xlink:href="/assets/vendor/sprite.svg#it-close-big"></use>
                                </svg>
                            </span>    
                        </a>
                    </div>
                </div>
                <div>    
                    <div>
                        <small class="pl-1">{{'user.username' | translate }}:</small>
                        <small class="pl-1 font-weight-bold">{{user.userName}}</small>
                    </div>
                    <div>
                        <small class="pl-1">{{'user.email' | translate }}:</small>
                        <small class="pl-1 font-weight-bold">{{user.getEmail()}}</small>
                    </div>    
                </div>
                <div class="row no-gutters">
                    <div class="col-6">
                        <a class="btn btn-link" [routerLink]="['/create-account']" (click)="toggle()">
                            <span class="rounded-icon">
                                <svg class="icon icon-primary">
                                    <use xlink:href="/assets/vendor/sprite.svg#it-settings"></use>
                                </svg>
                            </span>    
                            <span>{{'user.settings'|translate}}</span> 
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-link" [routerLink]="['/']" (click)="onLogout()">
                            <span class="rounded-icon">
                                <svg class="icon icon-primary">
                                    <use xlink:href="/assets/vendor/sprite.svg#it-close-circle"></use>
                                </svg>
                            </span>    
                            <span>{{'user.logout'|translate}}</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-block d-lg-none d-xl-none">
                <form class="form-inline d-block" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                    <div class="input-group">
                        <input class="form-control col-12" formControlName="callCode" type="search" placeholder="{{'search'|translate}}">
                        <div class="input-group-append">
                            <button class="btn btn-link rounded-0" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>    
                    </div>
                </form>
            </li>
            <ng-container *ngIf="applicationsState && applicationsState.length > 0">
                <li class="list-group-item">
                    <ul class="list-group list-group-flush">
                        <h6 class="font-weight-light font-italic">{{'application.all'| translate}}</h6>
                        <ng-container *ngFor="let state of applicationsState">
                            <li class="list-group-item border-bottom-0 p-1">                         
                                <a class="h6" [routerLink]="['/my-applications']" [queryParams]="{applicationStatus: state.getFilterStato()}" routerLinkActive="active" (click)="toggle()">
                                    <span>{{ state.getLabel() | translate}}</span> 
                                    <span class="badge badge-pill float-right" 
                                        [ngClass]="{
                                            'badge-danger': state.isEsclusa(), 
                                            'badge-warning': state.isProvvisoria(),
                                            'badge-success': state.isConfermata()
                                        }">{{state.count}}</span>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </li>
            </ng-container>
            <accordion [isAnimated]="true" [closeOthers]="true" class="shadow">
                <ng-container *ngFor="let menu of navbarMenu.menus">
                    <li *ngIf="menu.active && menu.path && menu.isSidebar()" class="list-group-item border-0">
                        <a [routerLink]="[menu.path]" (click)="toggle()">
                            <i *ngIf="menu.icon" class="fa fa-fw fa-{{menu.icon}}" aria-hidden="true"></i> {{ menu.name | translate}}
                        </a>
                    </li>
                    <ng-container *ngIf="menu.active && menu.items && menu.isSidebar()">
                            <accordion-group #accordionGroup panelClass="border border-light no-after mt-n1">
                                <div class="d-flex align-items-start" accordion-heading>
                                    <a class="font-weight-bold font-italic">{{menu.name| translate}}</a>
                                    <div class="p-1 ml-auto">
                                        <div class="float-right pull-right">
                                            <svg class="icon icon-primary">
                                            <use *ngIf="!accordionGroup.isOpen" xlink:href="/assets/vendor/sprite.svg#it-expand"></use>
                                            <use *ngIf="accordionGroup.isOpen" xlink:href="/assets/vendor/sprite.svg#it-collapse"></use>
                                            </svg>
                                        </div>                
                                    </div>                          
                                </div>
                                <ng-container *ngFor="let item of menu.items">
                                    <li class="list-group-item border-0 p-1" *ngIf="item.active">
                                        <a [routerLink]="[item.path]" (click)="toggle()">
                                            <span>{{ item.name | translate}}</span> 
                                        </a>
                                    </li>
                                </ng-container>
                            </accordion-group>
                    </ng-container>
                </ng-container>
            </accordion>            
        </ul>
    </nav>
</div>