<div class="p-2">
    <h1>{{'user.new_registration.title'|translate}}</h1>
    <span innerHtml="{{'user.new_registration.requisiti'|translate}}"></span>
    <form (keyup.enter)="onSubmit()" [formGroup]="ngForm">
        <div class="form-row">
          <div class="form-group mb-0 col-md-6">
            <label for="firstName" class="font-weight-bold">{{'user.firstname'| translate}}</label>
            <app-control-text type="email" [inline]="true" [noLabel]="true" formControlName="firstName"></app-control-text>
          </div>
          <div class="form-group mb-0 col-md-6">
            <label for="lastName" class="font-weight-bold">{{'user.lastname'| translate}}</label>
            <app-control-text type="email" [inline]="true" [noLabel]="true" formControlName="lastName"></app-control-text>
          </div>
          <div class="form-group mb-0 col-md-6">
            <label for="email" class="font-weight-bold">{{'user.email'| translate}}</label>
            <app-control-text 
                (cut)="$event.preventDefault()" 
                (copy)="$event.preventDefault()" 
                (paste)="$event.preventDefault()" 
                type="email" 
                [inline]="true" 
                [noLabel]="true" 
                formControlName="email"></app-control-text>
          </div>
          <div class="form-group mb-0 col-md-6">
            <label for="confirmemail" class="font-weight-bold">{{'user.confirmemail'| translate}}</label>
            <app-control-text 
                type="email" 
                (cut)="$event.preventDefault()" 
                (copy)="$event.preventDefault()" 
                (paste)="$event.preventDefault()" 
                [inline]="true" 
                [noLabel]="true" 
                formControlName="confirmemail"></app-control-text>
          </div>
          <div class="form-group mb-0 col-md-6">
            <label for="password" class="font-weight-bold">{{'user.password'| translate}}</label>
            <app-control-text 
                (cut)="$event.preventDefault()" 
                (copy)="$event.preventDefault()" 
                (paste)="$event.preventDefault()" 
                type="password" 
                [inline]="true" 
                [noLabel]="true" 
                formControlName="password"></app-control-text>
          </div>
          <div class="form-group mb-0 col-md-6">
            <label for="confirmpassword" class="font-weight-bold">{{'user.confirmpassword'| translate}}</label>
            <app-control-text 
                type="password" 
                (cut)="$event.preventDefault()" 
                (copy)="$event.preventDefault()" 
                (paste)="$event.preventDefault()" 
                [inline]="true" 
                [noLabel]="true" 
                formControlName="confirmpassword"></app-control-text>
          </div>
          <div class="form-group mb-3 col-md-6">
            <label for="cittadinanza" class="font-weight-bold">{{'user.cittadinanza.label'| translate}}</label>
            <div class="btn-group btn-block" btnRadioGroup formControlName="cittadinanza">
              <label btnRadio="italy" class="btn btn-success" tabindex="0" role="button">{{'user.cittadinanza.italy'|translate}}</label>
              <label btnRadio="foreign" class="btn btn-success" tabindex="0" role="button">{{'user.cittadinanza.foreign'|translate}}</label>
            </div>
          </div>
          <div *ngIf="f.cittadinanza.value == 'italy' " class="form-group mb-0 col-md-6">
            <label for="codicefiscale" class="font-weight-bold">{{'user.codicefiscale'| translate}}</label>
            <app-control-text 
                type="text" 
                [inline]="true" 
                [noLabel]="true" 
                formControlName="codicefiscale"></app-control-text>
          </div>

        </div>
        <button (click)="onSubmit()" class="btn btn-primary btn-block" type="submit">{{'user.new_registration.title' | translate}}</button>
      </form>
</div>