<div class="p-2 row no-gutters">    
  <div class="col-md-6" [ngClass]="{'col-md-12': !entity.userName}">
    <h1>{{'user.new_registration.title'|translate}}</h1>
    <span innerHtml="{{'user.new_registration.requisiti'|translate}}"></span>
  </div>
  <div class="col-md-6" [ngClass]="{'col-md-12': !entity.userName}">
    <div class="card m-3">
      <div class="card-header h1">{{'user.profile.title' | translate}}</div>
      <div class="card-body">  
        <form [formGroup]="ngForm">
          <div [ngClass]="{'row': !entity.userName}">
            <div class="form-group mb-0" [ngClass]="{'col-md-6': !entity.userName}">
              <label for="firstName" class="font-weight-bold">{{'user.firstname'| translate}}</label>
              <app-control-text type="email" [inline]="true" [noLabel]="true" formControlName="firstName"></app-control-text>
            </div>
            <div class="form-group mb-0" [ngClass]="{'col-md-6': !entity.userName}">
              <label for="lastName" class="font-weight-bold">{{'user.lastname'| translate}}</label>
              <app-control-text type="email" [inline]="true" [noLabel]="true" formControlName="lastName"></app-control-text>
            </div>
          </div>
          <div [ngClass]="{'row': !entity.userName}">
            <div class="form-group mb-0" [ngClass]="{'col-md-6': !entity.userName}">
              <label for="email" class="font-weight-bold">{{'user.email'| translate}}</label>
              <app-control-text 
                  type="email" 
                  inputClass="lowercase"
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()" 
                  [inline]="true" 
                  [noLabel]="true" 
                  formControlName="email"></app-control-text>
            </div>
            <div *ngIf="!entity.userName" class="form-group mb-0" [ngClass]="{'col-md-6': !entity.userName}">
              <label for="confirmemail" class="font-weight-bold">{{'user.confirmemail'| translate}}</label>
              <app-control-text 
                  type="email" 
                  inputClass="lowercase"
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()" 
                  [inline]="true" 
                  [noLabel]="true" 
                  formControlName="confirmemail"></app-control-text>
            </div>
          </div>
          <div [ngClass]="{'row': !entity.userName}">
            <div *ngIf="!entity.userName" class="form-group mb-0" [ngClass]="{'col-md-6': !entity.userName}">
              <label for="password" class="font-weight-bold">{{'user.password'| translate}}</label>
              <app-control-text 
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()" 
                  type="password" 
                  [inline]="true" 
                  [noLabel]="true" 
                  formControlName="password"></app-control-text>
            </div>
            <div *ngIf="!entity.userName" class="form-group mb-0" [ngClass]="{'col-md-6': !entity.userName}">
              <label for="confirmpassword" class="font-weight-bold">{{'user.confirmpassword'| translate}}</label>
              <app-control-text 
                  type="password" 
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()" 
                  [inline]="true" 
                  [noLabel]="true" 
                  formControlName="confirmpassword"></app-control-text>
            </div>
          </div>
          <div [ngClass]="{'row': !entity.userName}">
            <div class="form-group mb-0" [ngClass]="{'col-md-3': !entity.userName}">
              <label for="cittadinanza" class="font-weight-bold">{{'user.cittadinanza.label'| translate}}</label>
              <div class="btn-group btn-block" btnRadioGroup formControlName="straniero">
                <label btnRadio="false" class="btn btn-outline-success" tabindex="0" role="button">{{'user.cittadinanza.italy'|translate}}</label>
                <label btnRadio="true" class="btn btn-outline-success" tabindex="0" role="button">{{'user.cittadinanza.foreign'|translate}}</label>
              </div>
            </div>
            <div *ngIf="!isStraniero()" class="form-group mb-0" [ngClass]="{'col-md-9': !entity.userName}">
              <label for="codicefiscale" class="font-weight-bold">{{'user.codicefiscale'| translate}}</label>
              <app-control-text 
                  type="text" 
                  inputClass="uppercase"
                  [inline]="true" 
                  [noLabel]="true"
                  formControlName="codicefiscale"></app-control-text>
            </div>
            <div *ngIf="isStraniero()" class="form-group mb-0" [ngClass]="{'col-md-3': !entity.userName}">
              <label for="sesso" class="font-weight-bold">{{'user.sex'| translate}}</label>
              <div class="btn-group btn-block" btnRadioGroup formControlName="sesso">
                <label btnRadio="M" class="btn btn-outline-primary" tabindex="0" role="button">{{'user.male'|translate}}</label>
                <label btnRadio="F" class="btn btn-outline-primary" tabindex="0" role="button">{{'user.female'|translate}}</label>
              </div>
            </div>
            <div *ngIf="isStraniero()" class="form-group mb-0" [ngClass]="{'col-md-3': !entity.userName}">
              <label for="dataDiNascita" class="font-weight-bold">{{'user.dataDiNascita'| translate}}</label>
              <app-control-datepicker
                  type="text"
                  [inline]="true" 
                  [noLabel]="true" 
                  formControlName="dataDiNascita">            
              </app-control-datepicker>
            </div>
            <div *ngIf="isStraniero()" class="form-group mb-0" [ngClass]="{'col-md-3': !entity.userName}">
              <label for="statoestero" class="font-weight-bold">{{'user.statoestero'| translate}}</label>
              <app-control-select-model
                [inline]="true"
                [noLabel]="true"
                [strings]="paesi"
                [showValidation]="true"
                [allowClear]="true"
                [placeholder]="'placeholder.select.country'| translate"
                formControlName="statoestero">
              </app-control-select-model>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer" [ngSwitch]="entity.userName === undefined">
        <app-button-confirm
          *ngSwitchCase="true"
          classes="btn-primary btn-block"
          buttonLabel="user.new_registration.button"
          [body]="'message.confirm.registration'| translate:{value: f.email.value||''} "
          showLabel="true"
          (confirm)="onSubmit()">
        </app-button-confirm>
        <button 
          *ngSwitchCase="false" 
          type="submit" 
          class="btn btn-primary btn-block" 
          (click)="onSubmit()">{{'user.modify_registration.button' | translate}}</button>
      </div>      
    </div>
  </div>      
</div>