<div class="p-md-2 row no-gutters" [ngSwitch]="entity.userName === undefined">    
  <div class="col-md-6" [ngClass]="{'col-md-12': !entity.userName}">
    <div *ngSwitchCase="true"> 
      <h1>{{'user.new_registration.title'|translate}}</h1>
      <span innerHtml="{{'user.new_registration.requisiti'|translate}}"></span>
    </div>
    <div *ngSwitchCase="false"> 
      <h1>{{'user.profile.title'|translate}}</h1>
      <span class="pr-1">{{'user.information.detail'|translate}}</span>
      <a [routerLink]="['/configurazione/helpdesk']">{{'contacts.helpdesk.name' | translate}}</a>.
      <div>
        <span class="font-weight-semibold">{{'user.information.change.password.title'|translate}}</span>
        <a class="btn btn-link pl-1 text-primary" href="javascript:" (click)="openModal(templatechangepassword)">{{'user.information.change.password.link'|translate}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-6" [ngClass]="{'col-md-12': !entity.userName}">
    <div class="card">
      <div *ngSwitchCase="true" class="card-header h1">{{'user.profile.title' | translate}}</div>
      <div class="card-body" [ngClass]="{'px-0': entity.userName}">  
        <form [formGroup]="ngForm">
          <div [ngClass]="{'row': !entity.userName}">
            <div class="form-group" [ngClass]="{'col-md-6': !entity.userName}">
              <app-control-text type="text" [focus]="true" [label]="'user.firstname'| translate" [inline]="true" formControlName="firstName"></app-control-text>
            </div>
            <div class="form-group" [ngClass]="{'col-md-6': !entity.userName}">
              <app-control-text type="text" [label]="'user.lastname'| translate" [inline]="true" formControlName="lastName"></app-control-text>
            </div>
          </div>
          <div [ngClass]="{'row': !entity.userName}">
            <div class="form-group" [ngClass]="{'col-md-6': !entity.userName}">
              <app-control-text 
                  type="email" 
                  inputClass="lowercase"
                  [prependText]="'@'"
                  [label]="'user.email'| translate"
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()" 
                  [inline]="true"
                  formControlName="email"></app-control-text>
            </div>
            <div *ngIf="!entity.userName" class="form-group" [ngClass]="{'col-md-6': !entity.userName}">
              <app-control-text 
                  type="email" 
                  inputClass="lowercase"
                  [prependText]="'@'"
                  [label]="'user.confirmemail'| translate"
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()" 
                  [inline]="true" 
                  formControlName="confirmemail"></app-control-text>
            </div>
          </div>
          <div [ngClass]="{'row': !entity.userName}">
            <div *ngIf="!entity.userName" class="form-group" [ngClass]="{'col-md-6': !entity.userName}">
              <app-control-text 
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()"
                  [label]="'user.password'| translate" 
                  type="password" 
                  [prepend]="'key'"
                  [inline]="true" 
                  formControlName="password"></app-control-text>
            </div>
            <div *ngIf="!entity.userName" class="form-group" [ngClass]="{'col-md-6': !entity.userName}">
              <app-control-text 
                  type="password" 
                  [prepend]="'key'"
                  (cut)="$event.preventDefault()" 
                  (copy)="$event.preventDefault()" 
                  (paste)="$event.preventDefault()" 
                  [label]="'user.confirmpassword'| translate" 
                  [inline]="true" 
                  formControlName="confirmpassword"></app-control-text>
            </div>
          </div>
          <div [ngClass]="{'row': !entity.userName}">
            <div class="form-group" [ngClass]="{'col-md-3': !entity.userName}">
              <div class="form-check form-check-inline">
                <input id="cittadinanzaitaly" name="straniero" formControlName="straniero" type="radio" value="false">
                <label for="cittadinanzaitaly">{{'user.cittadinanza.italy'| translate}}</label>
              </div>
              <div class="form-check form-check-inline">
                <input id="cittadinanzaforeign" name="straniero" formControlName="straniero" type="radio" value="true">
                <label for="cittadinanzaforeign">{{'user.cittadinanza.foreign'| translate}}</label>
              </div>
              <label class="active">{{'user.cittadinanza.label'| translate}}</label>
            </div>
            <div *ngIf="!isStraniero()" class="form-group" [ngClass]="{'col-md-9': !entity.userName}">
              <app-control-text 
                  type="text" 
                  inputClass="uppercase"
                  [inline]="true" 
                  [label]="'user.codicefiscale'| translate"
                  formControlName="codicefiscale"></app-control-text>
            </div>
            <div *ngIf="isStraniero()" class="form-group" [ngClass]="{'col-md-3': !entity.userName}">
              <div class="form-check form-check-inline">
                <input id="usermale" name="sesso" formControlName="sesso" type="radio" value="M">
                <label for="usermale">{{'user.male'| translate}}</label>
              </div>
              <div class="form-check form-check-inline">
                <input id="userfemale" name="sesso" formControlName="sesso" type="radio" value="F">
                <label for="userfemale">{{'user.female'| translate}}</label>
              </div>
              <label class="active">{{'user.sex'| translate}}</label>
            </div>
            <div *ngIf="isStraniero()" class="form-group" [ngClass]="{'col-md-3': !entity.userName}">
              <app-control-datepicker
                  type="text"
                  [inline]="true" 
                  [label]="'user.dataDiNascita'| translate"
                  formControlName="dataDiNascita">            
              </app-control-datepicker>
            </div>
            <div *ngIf="isStraniero()" class="form-group" [ngClass]="{'col-md-3': !entity.userName}">
              <label for="statoestero" class="font-weight-bold active">{{'user.statoestero'| translate}}</label>
              <app-control-select-model
                [inline]="true"
                [noLabel]="true"
                [strings]="paesi"
                [showValidation]="true"
                [allowClear]="true"
                [showValidation]="true"
                [placeholder]="'placeholder.select.country'| translate"
                formControlName="statoestero">
              </app-control-select-model>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <app-button-confirm
          *ngSwitchCase="true"
          classes="btn-primary btn-block"
          buttonLabel="user.new_registration.button"
          [body]="'message.confirm.registration'| translate:{value: f.email.value||''} "
          showLabel="true"
          (confirm)="onSubmit()">
        </app-button-confirm>
        <button 
          *ngSwitchCase="false" 
          type="submit" 
          class="btn btn-primary btn-block" 
          (click)="onSubmit()">{{'user.modify_registration.button' | translate}}</button>
      </div>      
    </div>
  </div>      
</div>

<ng-template #templatechangepassword>
  <div class="modal-header">
    <h2 class="modal-title pull-left text-primary"><i class="fa fa-key"></i> {{'user.change.password.title' | translate}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ngPasswordForm">
      <div class="form-group">
        <app-control-text 
            (cut)="$event.preventDefault()" 
            (copy)="$event.preventDefault()" 
            (paste)="$event.preventDefault()" 
            type="password" 
            [inline]="true" 
            [label]="'user.oldpassword'| translate" 
            #oldpasswordfield
            formControlName="oldpw"></app-control-text>
        <span class="password-icon" aria-hidden="true">
          <svg *ngIf="oldpasswordfield.type=='password'" (click)="oldpasswordfield.type='text'" class="icon icon-sm"><use xlink:href="/assets/vendor/sprite.svg#it-password-invisible"></use></svg>
          <svg *ngIf="oldpasswordfield.type=='text'"     (click)="oldpasswordfield.type='password'" class="icon icon-sm"><use xlink:href="/assets/vendor/sprite.svg#it-password-visible"></use></svg>
        </span>
      </div>
      <div class="form-group">
        <app-control-text 
            (cut)="$event.preventDefault()" 
            (copy)="$event.preventDefault()" 
            (paste)="$event.preventDefault()" 
            type="password" 
            [inline]="true" 
            [label]="'user.newpassword'| translate" 
            #newpasswordfield
            formControlName="newpw"></app-control-text>
            <span class="password-icon" aria-hidden="true">
              <svg *ngIf="newpasswordfield.type=='password'" (click)="newpasswordfield.type='text'" class="icon icon-sm"><use xlink:href="/assets/vendor/sprite.svg#it-password-invisible"></use></svg>
              <svg *ngIf="newpasswordfield.type=='text'"     (click)="newpasswordfield.type='password'" class="icon icon-sm"><use xlink:href="/assets/vendor/sprite.svg#it-password-visible"></use></svg>
            </span>    
      </div>
      <div class="form-group">
        <app-control-text 
            type="password" 
            (cut)="$event.preventDefault()" 
            (copy)="$event.preventDefault()" 
            (paste)="$event.preventDefault()" 
            [inline]="true" 
            [label]="'user.confirmpassword'| translate" 
            #confirmpasswordfield
            formControlName="confirmpassword"></app-control-text>
            <span class="password-icon" aria-hidden="true">
              <svg *ngIf="confirmpasswordfield.type=='password'" (click)="confirmpasswordfield.type='text'" class="icon icon-sm"><use xlink:href="/assets/vendor/sprite.svg#it-password-invisible"></use></svg>
              <svg *ngIf="confirmpasswordfield.type=='text'"     (click)="confirmpasswordfield.type='password'" class="icon icon-sm"><use xlink:href="/assets/vendor/sprite.svg#it-password-visible"></use></svg>
            </span>    
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-block" (click)="changePassword()">{{'save' | translate}}</button>
  </div>
</ng-template>