<app-layout-title [title]="'call.search.title'" [titleClass]="'main-title'" [collapsediv]="collapse" [isCollapsable]="'true'" (collapseEvent)="collapse = $event"></app-layout-title>
<app-list-header-layout>
    <form *ngIf="filterFormSearch" class="clearfix" [formGroup]="filterFormSearch" [ngClass]="{'d-none': collapse, 'd-block': !collapse}">
        <div class="form-row col-md-12">
            <div class="form-group col-md-4">
                <app-control-select-model
                    class="pr-1"
                    [inline]="true"
                    [types]="cache.jsonlistCallType"
                    [showValidation]="false"
                    [noLabel]="true"
                    [allowClear]="true"
                    [placeholder]="'call.search.type'| translate"
                    [ttip]="'call.search.type'| translate"
                    formControlName="type">
                </app-control-select-model>
            </div>
            <div class="form-group col-md-4">
                <!--Rounded checkbox buttons-->
                <div class="btn-group btn-block btn-group-toggle" btnRadioGroup formControlName="filterType">
                    <span class="btn btn-primary btn-toggle text-truncate" tooltip="{{'call.attivi' | translate}}" btnRadio="active">{{'call.attivi' | translate}}</span>
                    <span class="btn btn-primary btn-toggle text-truncate" tooltip="{{'call.scaduti' | translate}}" btnRadio="expire">{{'call.scaduti' | translate}}</span>
                    <span class="btn btn-primary btn-toggle text-truncate" tooltip="{{'call.tutti' | translate}}" btnRadio="all">{{'call.tutti' | translate}}</span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <app-control-text 
                    formControlName="callCode"
                    class="pr-1"
                    [inline]="true"
                    type="search"
                    [showValidation]="false"
                    [prepend]="'cube'"
                    [label]="'call.search.code'| translate">
                </app-control-text>
            </div>    
        </div>
        <div class="form-row col-md-12">
            <div class="form-group col-md-2">
                <app-control-datepicker
                    class="pr-1"
                    type="search"
                    [inline]="true" 
                    [showValidation]="false"
                    [label]="'call.search.scadenza.inizio'| translate" 
                    formControlName="inizioScadenza">            
                </app-control-datepicker>
            </div>
            <div class="form-group col-md-2">
                <app-control-datepicker
                    class="pr-1"
                    type="search"
                    [inline]="true" 
                    [showValidation]="false"
                    [label]="'call.search.scadenza.fine'| translate" 
                    formControlName="fineScadenza">            
                </app-control-datepicker>    
            </div>
            <div class="form-group col-md-8">
                <app-control-select-model
                    class="pr-1"
                    [inline]="true"
                    [noLabel]="true"
                    [enums]="profiles"
                    [showValidation]="false"
                    [allowClear]="true"
                    [placeholder]="'call.search.profile'| translate"
                    [ttip]="'call.search.profile'| translate"
                    formControlName="profile">
                </app-control-select-model>
            </div>
        </div>
        <div class="form-row col-md-12">
            <div class="form-group col-md-2">
                <app-control-text 
                    formControlName="gazzetteNumber"
                    [inline]="true"
                    type="search"
                    [showValidation]="false"
                    [prepend]="'university'"
                    [label]="'call.search.gazzette.number'| translate">
                </app-control-text>
            </div>
            <div class="form-group col-md-2">
                <app-control-datepicker
                    type="search"
                    [inline]="true" 
                    [showValidation]="false"
                    [label]="'call.search.gazzette.date'| translate" 
                    formControlName="gazzetteDate">            
                </app-control-datepicker>
            </div>
            <div class="form-group col-md-8">
                <app-control-text 
                    formControlName="requirements"
                    [inline]="true"
                    type="search"
                    [showValidation]="false"
                    [prepend]="'registered'"
                    [label]="'call.search.requirements'| translate">
                </app-control-text>
            </div>    
        </div>
        <div class="form-row col-md-12">        
            <div class="form-group col-md-6">        
                <app-control-text 
                    formControlName="struttura"
                    [inline]="true"
                    type="search"
                    [showValidation]="false"
                    [prepend]="'industry'"
                    [label]="'call.search.struttura'| translate">
                </app-control-text>
            </div>
            <div class="form-group col-md-6">
                <app-control-text 
                    formControlName="sede"
                    [inline]="true"
                    type="search"
                    [showValidation]="false"
                    [prepend]="'address-book'"
                    [label]="'call.search.sede'| translate">
                </app-control-text>
            </div>    
        </div>
    </form>    
    <call-list *ngIf="filterFormSearch" [filterForm] = "filterFormSearch"></call-list>
<app-list-header-layout>
