<header class="it-header-wrapper it-header-sticky" [ngSwitch]="isAuthenticated()" [ngClass]="{'is-sticky': isSticky}">
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <div class="d-flex w-100">
              <a class="btn btn-link navbar-brand" *ngSwitchCase="true" (click)="sidebarToggle()">
                <img id="toggle-sidebar" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkuMnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxMiAxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSIxMDI0dXAiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSItLWhvbWUtLS1wYXJhbGxheC0tLW1vYmlsZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI0LjAwMDAwMCwgLTIwLjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPgogICAgICAgICAgICA8ZyBpZD0iLW5ldHdvcmstc2xpbS1oZWFkZXIiPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTI0LDI0IEwzNiwyNCBMMzYsMjYgTDI0LDI2IEwyNCwyNCBaIE0yNCwyMCBMMzIsMjAgTDMyLDIyIEwyNCwyMiBMMjQsMjAgWiBNMjQsMjggTDMyLDI4IEwzMiwzMCBMMjQsMzAgTDI0LDI4IFoiIGlkPSJpY29uLXNtYWxsLWJ1cmdlciI+PC9wYXRoPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=" alt="Menu toggle">
              </a>        
              <a class="d-block navbar-brand" target="_company" href="{{'header.company.url' | translate}}">{{'header.company.title' | translate}}</a>
            </div>
            <div class="it-header-slim-right-zone">
              <div class="dropdown" dropdown placement="bottom right">
                <a aria-expanded="false" dropdownToggle
                  class="dropdown-toggle pr-2"
                   data-toggle="dropdown" href="javascript:">
                  <span>{{country | uppercase}}</span>
                  <svg class="icon icon-white">
                    <use
                      xlink:href="/assets/vendor/sprite.svg#it-expand"></use>
                  </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-right border" *dropdownMenu>
                  <li role="menuitem"><a class="dropdown-item text-primary" href="javascript:" (click)="language('it', true)">ITA</a></li>
                  <li role="menuitem"><a class="dropdown-item text-primary" href="javascript:" (click)="language('en', true)">ENG</a></li>
                </ul>
              </div>  
              <a *ngSwitchCase="false" class="btn btn-primary btn-icon rounded-0 btn-full" (click)="loginPage()">
                <span class="rounded-icon">
                  <svg class="icon icon-primary">
                    <use xlink:href="/assets/vendor/sprite.svg#it-user"></use>
                  </svg>
                </span>
                <span class="d-none d-lg-inline-block">{{'signin.title' | translate}}</span>
              </a>
              <div *ngSwitchCase="true" class="nav-item dropdown" dropdown placement="bottom right">
                <a aria-expanded="false" class="dropdown-toggle pr-2" dropdownToggle
                   data-toggle="dropdown" href="javascript:">
                  <span>
                    <i class="fa fa-fw fa-user pr-1" aria-hidden="true"></i>
                  </span>
                  <span class="d-none d-md-block">{{user.firstName}} {{user.lastName}}</span>
                  <svg class="icon icon-white">
                    <use
                      xlink:href="/assets/vendor/sprite.svg#it-expand"></use>
                  </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-right border" *dropdownMenu>
                  <li role="menuitem">
                    <a class="dropdown-item text-primary" [routerLink]="['/create-account']" [routerLinkActive]="'disabled'">
                      <i class="fa fa-fw fa-address-card-o pr-1" aria-hidden="true"></i>
                      <span>{{'user.settings'|translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item text-primary" [routerLink]="['/']" (click)="onLogout()">
                      <i class="fa fa-fw fa-sign-out pr-1" aria-hidden="true"></i>
                      <span>{{'user.logout'|translate}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper pl-0">
                <a [routerLink]="['/']" class="navbar-brand logo">
                  <img src="/assets/images/logo_cnr.png">
                  <div class="it-brand-text pl-2">
                    <h2 class="no_toc">{{'header.title' | translate}}</h2>
                    <h3 class="no_toc d-none d-md-block">{{'header.subtitle' | translate}}</h3>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-search-wrapper">
                  <form class="form-inline pl-1 d-lg-flex d-xl-flex" [ngClass]="{'d-none': isAuthenticated()}" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                    <div class="input-group d-none d-lg-flex">
                      <input class="form-control col-md-6 col-sm-12 col-xl-12 rounded-left" formControlName="callCode" type="search" placeholder="{{'search'|translate}}">
                      <div class="input-group-append">
                          <button class="btn bg-white rounded-right" type="submit">
                            <i class="fa fa-search text-primary" aria-hidden="true"></i>
                          </button>
                      </div>    
                    </div>
                    <a class="search-link rounded-icon d-md-block d-lg-none" tooltip="{{'search'|translate}}" [routerLink]="['/search']">
                      <svg class="icon">
                        <use xlink:href="/assets/vendor/sprite.svg#it-search"></use>
                      </svg>
                    </a>
                  </form>
                </div>
                <a class="btn btn-link d-lg-none toggle-menu-sidebar" (click)="sidebarMenuToggle()">
                  <svg class="icon icon-white toggle-menu-sidebar">
                    <use xlink:href="/assets/vendor/sprite.svg#it-burger"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper" *ngIf="navbarMenu">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg has-megamenu">
              <div class="navbar-collapsable">
                <div class="menu-wrapper">
                  <div class="it-brand-wrapper cloned" *ngIf="isSticky">
                    <a [routerLink]="['/']" class="navbar-brand logo">
                      <img src="/assets/images/logo_cnr.png">
                      <div class="it-brand-text pl-2">
                        <h2 class="no_toc">{{'header.title' | translate}}</h2>
                        <h3 class="no_toc d-none d-md-block">{{'header.subtitle' | translate}}</h3>
                      </div>
                    </a>
                  </div>
                  <ul class="navbar-nav">
                    <li class="nav-item" *ngFor="let menu of navbarMenu.menus">
                      <a class="nav-link" *ngIf="menu.active" [routerLink]="[menu.path]" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'">
                        <span>{{ menu.name | translate}}</span>
                      </a>
                    </li>
                  </ul>
                  <div class="it-search-wrapper cloned" *ngIf="isSticky">
                    <span class="d-none d-md-block">{{'search'|translate}}</span>
                    <a aria-label="Cerca" class="search-link rounded-icon" [routerLink]="['/search']">
                      <svg class="icon">
                        <use xlink:href="/assets/vendor/sprite.svg#it-search"></use>
                      </svg>
                    </a>
                  </div>
                  <a class="btn btn-link d-lg-none toggle-menu-sidebar" (click)="sidebarMenuToggle()">
                    <svg class="icon icon-white toggle-menu-sidebar">
                      <use xlink:href="/assets/vendor/sprite.svg#it-burger"></use>
                    </svg>
                  </a>  
                </div>  
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>  
  </div>
</header>

<simple-notifications [options]="notificationOptions"></simple-notifications>