
$fa-font-path : '../node_modules/font-awesome/fonts';

// ####################################################################################
//                                    Fonts
// ####################################################################################


// ####################################################################################
//                                    Colors
// ####################################################################################
$orange: transparent;

// ####################################################################################
//                                    Navbar Dropdown
// ####################################################################################


// ####################################################################################
//                                    Form Input
// ####################################################################################
$form-group-margin-bottom: 2rem;