<div class="container-fluid pt-2">
    <div class="row-fluid">
        <h3>{{'contacts.subtitle' | translate}}</h3>
        <ul>
            <li>{{'contacts.telefono' | translate}}</li>
            <li>{{'contacts.fax' | translate}}</li>
            <li innerHtml="{{'contacts.email' | translate}}"></li>
            <li innerHtml="{{'contacts.pec' | translate}}"></li>
        </ul>
        <h4>{{'contacts.helpdesk.info' | translate}} <a href="/configurazione/helpdesk">{{'contacts.helpdesk.name' | translate}}</a></h4>
        <div class="alert alert-danger">
            <strong>{{'contacts.helpdesk.alert' | translate}}</strong>
        </div>
    </div>
</div>